@font-face {
  font-family: kero;
  src: url("./Assets/kero-kero-cufonfonts/font.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.nav-bar {
  font-family: kero;
  width: 100%;
  height: 8vh;
  background-color: black;
  margin-bottom: 0%;
  box-shadow: 0px 5px 35px 1px rgb(0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

.bg-img {
  width: 100vw;
  height: 100vh;
  background-image: url("./Assets/Bgimage.png");
  background-size: 100% 100%;
  position: fixed;
  /* top: 8vh; */
  z-index: -1;
}
.container {
  display: flex;

  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}
.logo {
  /* border: 2px red solid; */
  width: 10vmax;
  height: 3vmax;
  background-image: url("./Assets/logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.nav-box {
  /* border: 2px red solid; */
  width: 70%;
  height: 95%;
  font-size: 1.5vmax;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 35%;
}
.nav-content {
  color: #c38b1d;
}
.home-title {
  color: #c38b1d;
  width: 100vw;
  text-align: center;
  font-size: 6vmax;
  /* height: 50vh; */
  font-family: kero;
  letter-spacing: 0.5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-box {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.home-subtitle {
  font-family: "Rubik", sans-serif;
  color: #c38b1d;
  width: 29vw;
  text-align: center;
  font-size: 2.5vmax;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-button {
  width: 8vmax;
  height: 3vmax;
  background-color: #c38b1d;
  border: none;
  border-radius: 25px;
  /* position: absolute; */
  z-index: 3;
  font-size: 1vmax;
  color: rgb(255, 227, 149);
  box-shadow: 1px 1px 15px 1px #c38b1d;
}
.join-button:hover {
  transition: all 0.3s;
  transform: scale(1.1);
}
.new-post {
  position: fixed;
  z-index: 2;
  bottom: 2vmax;
  right: 2vmax;
}
.post-button {
  color: white;
  padding: 1.5vmin;
  font-size: 1vmax;
  background-color: #c38b1d;
  border: #d99d26;
  font-weight: 600;
  box-shadow: 0px 0px 15px 1px #c38b1d;
  border-radius: 10px;
}
.main-div {
  height: 90vh;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-box {
  height: 68%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 0 4vmax;
  gap: 10vmax;
  /* border: red 3px solid; */
}
.list-ele {
  background-color: black;
  opacity: 0.9;
  box-shadow: 0px 1px 15px 2px #d99d26;
  border-radius: 3vmin;
  /* width: 25vmax; */
  /* height: 55vmin; */
  /* padding-top: 2vmin; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.loader-div {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 10vmax;
}
.img-box {
  height: 60%;
  /* border: red 3px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 70%;
  height: 100%;
  border-radius: 10px;
}
.name-box {
  /* display: flex; */
  /* height: 10%; */
  width: 100%;
  /* justify-content: space-between; */
  padding: 0 2vmax 0 2vmax;
  color: #d99d26;
  /* border: 3px red solid; */
}
.name-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 8  4%; */
}
.title-div {
  font-size: 2.5vmax;
  /* width: 55%; */
  font-weight: 900;
  /* color: white; */
  /* border: red 2px solid; */
}
.category-div {
  font-size: 1.4vmax;
  font-weight: 500;
  /* align-self: center; */
  color: #e2cfa9;

  /* border: red 2px solid; */
}
.user-div {
  display: flex;
  justify-content: space-between;
  padding: 0 4vmax 0 4vmax;
}
.like,
.comment {
  display: flex;
  color: #c38b1d;
  justify-content: space-between;
  width: 23%;
  align-items: center;
  font-size: 1.5vmax;
}
.form {
  min-height: 85vh;
  min-width: 100%;
  padding: 5vmin 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
  /* color: rgb(198, 232, 255); */
}
.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  padding: 2vmin;
  border-radius: 10px;
  opacity: 0.8;
  background-color: black;
  border: #d99d26 3px solid;
  color: #c38b1d;
  gap: 2vmin;
}
.err {
  color: red;
  font-size: 1.5vmin;
  margin-top: 0.5qvmin;
}
.post-detail-div {
  /* border: #c38b1d 3px solid; */
  color: #c38b1d;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-detail-box {
  /* border: #c38b1d 3px solid; */
  height: 78vh;
  width: 85vw;
  display: flex;
  justify-content: space-between;
  padding: 0 4vmax;
  align-items: center;
}
.post-img-div {
  width: 45%;
  height: 60%;
}
.post-title {
  font-size: 4vmax;
}
.post-img-div img {
  box-shadow: 1px 1px 15px 1px black;
}
.post-img-div img:hover {
  box-shadow: 1px 1px 15px 1px #c38b1d;
}
.rest-detail {
  width: 55%;
  height: 100%;
  padding: 4vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.post-description {
  text-align: center;
  font-size: 1.5vmax;
}
.buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

@media (max-width: 600px) {
  .list-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 7vmin;
  }
  .nav-box {
    padding-left: 15%;
  }
  .bg-img {
    background-image: url(./Assets/bg.png);
  }
}
